In [8]:
# Create List

In [2]:
A=["Kruitka Jagtap","Rollno 9185"]
B=["Sir Parshurambhau College ,TYBsc,Statistics Department"]
Z=A+B
print(Z)
print(type(Z))

['Kruitka Jagtap', 'Rollno 9185', 'Sir Parshurambhau College ,TYBsc,Statistics Department']
<class 'list'>

In [3]:
#Access Items 
A[1]

'Rollno 9185'

In [4]:
# Negative Index
print(A[-1])

Rollno 9185

In [5]:
# Change Items in the list
print(A)
A[1]="9185"
print(A)

['Kruitka Jagtap', 'Rollno 9185']
['Kruitka Jagtap', '9185']

In [6]:
# Looping Through List
for a in A:
    print(A)

['Kruitka Jagtap', '9185']
['Kruitka Jagtap', '9185']

In [7]:
# Nested list
mylist=[1,2,4,['Q','E','A',[1,1]]]
print(mylist)

[1, 2, 4, ['Q', 'E', 'A', [1, 1]]]

In [8]:
#append
# Add and element in the end of the list
A.append("TYBsc")
print(A)

['Kruitka Jagtap', '9185', 'TYBsc']

In [13]:
#copy
#Return a copy of the list
A=['Krutika', 'Jagtap','9185','TYBsc']
A1=A.copy()
print(A1)

['Krutika', 'Jagtap', '9185', 'TYBsc']

In [14]:
print(A)

['Krutika', 'Jagtap', '9185', 'TYBsc']

In [15]:
#count
#return the element with value
A.append("Statistics")
D=A.count("Statistics")
print(D)

1

In [16]:
#len():lenth of the list
print(len(A))

5

In [17]:
#pop 
#Remove an element form specific position
A.pop(1)
print(A)
print(len(A))

['Krutika', '9185', 'TYBsc', 'Statistics']
4

In [18]:
# Reverse
#Revere the list
A.reverse()
print(A)

['Statistics', 'TYBsc', '9185', 'Krutika']

In [19]:
#Sort
#sort the list
A.sort()
print(A)

['9185', 'Krutika', 'Statistics', 'TYBsc']

In [20]:
# Create tupils

In [21]:

a=('krutika Jagtap','Rollno 9185')
b=('S.P College','Statistics','TYBsc')
print(a)
print(b)

('krutika Jagtap', 'Rollno 9185')
('S.P College', 'Statistics', 'TYBsc')

In [22]:
#access the element
(a[1])

'Rollno 9185'

In [23]:
#tuple():Create tuple with elements Specified
T=tuple((1,2,5,7,8,9,0,4,6,7,0))
print(T)

(1, 2, 5, 7, 8, 9, 0, 4, 6, 7, 0)

In [24]:
#len():Give number of elements
len(T)

11

In [25]:
#Add tupiles 
a+b

('krutika Jagtap', 'Rollno 9185', 'S.P College', 'Statistics', 'TYBsc')

In [26]:
#index(): Serches the puple for slected value
print(T)
T.index(5)

(1, 2, 5, 7, 8, 9, 0, 4, 6, 7, 0)

2

In [27]:
# list are written in square brackets and tupils are written in round brackets.